azure-identity==1.13.0b3
Flask==2.2.2
Flask-Cors==3.0.10
langchain==0.0.208
openai==0.27.8
--extra-index-url https://pkgs.dev.azure.com/azure-sdk/public/_packaging/azure-sdk-for-python/pypi/simple/
azure-search-documents==11.4.0a20230509004
azure-storage-blob==12.14.1
urllib3==1.26.6
pycryptodome==3.15.0
tiktoken==0.4.0
