azure-identity==1.14.1
quart==0.19.3
quart-cors==0.7.0 
quart-schema==0.18.0
openai[datalib]==0.28.1
tiktoken==0.5.1
azure-search-documents==11.4.0
azure-storage-blob==12.19.0
uvicorn[standard]==0.23.2
aiohttp==3.8.5
azure-monitor-opentelemetry==1.0.0
opentelemetry-instrumentation-asgi==0.41b0
opentelemetry-instrumentation-requests==0.41b0
opentelemetry-instrumentation-aiohttp-client==0.41b0
opentelemetry-instrumentation-logging==0.41b0
pycountry==22.3.5
lingua-language-detector==2.0.0
pyjwt==2.8.0