aiohttp==3.9.3
azure-identity==1.15.0
azure-monitor-opentelemetry==1.2.0
azure-search-documents==11.4.0
azure-storage-blob==12.19.0
cryptography==41.0.7
cachetools==5.3.2
lingua-language-detector==2.0.2
openai==1.11.1
opentelemetry-instrumentation-asgi==0.43b0
opentelemetry-instrumentation-requests==0.43b0
opentelemetry-instrumentation-aiohttp-client==0.43b0
opentelemetry-instrumentation-logging==0.43b0
pycountry==22.3.5
PyJWT==2.8.0
quart==0.19.3
quart-cors==0.7.0 
quart-schema==0.18.0
tiktoken==0.5.1
uvicorn[standard]==0.23.2





