pypdf==3.11.0
azure-identity==1.13.0
azure-search-documents==11.4.0
azure-ai-formrecognizer==3.2.1
azure-storage-blob==12.14.1
openai[datalib]==0.27.8
md2pdf==1.0.1
pdfkit==1.0.0
reportlab==4.0.4
lingua-language-detector==2.0.2
pycryptodome==3.18.0
pycountry==22.3.5
langchain==0.0.338
beautifulsoup4==4.12.2
atlassian-python-api==3.41.4
lxml==4.9.3